* {
    font-family: 'Inter', sans-serif;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}

h1 {
    font-weight: 900;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}


hr {
    border: none;
    height: 2px;
    background-color: var(--primary-color);
    margin: 20px auto;
}

hr.dotted {
    background: none;
    border-top: 1px dashed var(--gray-font);
}

hr.light {
    height: 2px;
    background-color: var(--faded-primary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    cursor: pointer;
    border: 2px solid var(--primary-color);
}

button.secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}


input,
textarea {
    outline: none;
    padding: 0.5rem;
    border-radius: 0;
    border: 2px solid var(--primary-color);
    background: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 1px solid var(--primary-color);
}

a:hover {
    color: var(--gray-font);
    border-bottom: 1px solid var(--gray-font);
}

.card {
    padding: var(--spacing-md);
    width: fit-content;
    display: block;
    border: 1px solid var(--primary-color);
}

.card.primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.card.secondary {
    background-color: var(--secondary-color);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 5px;
    }
}