.alert {
    padding: var(--spacing-md);
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.badge {
    display: inline-block;
    padding: 0.5em;
    font-size: 60%;
    font-weight: var(--font-weight-bold);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid var(--primary-color);
}

.badge-primary {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.badge-secondary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 90%;
    max-width: 500px;
    background-color: var(--secondary-color);
    box-shadow: 0 0rem 0 100vh rgba(0, 0, 0, 0.5);
    padding: var(--spacing-lg);

}

.modal.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Remove gaps between table cells */
    background-color: var(--secondary-color);
    /* Table background */
    border: 1px solid var(--border-color);
    /* Border for the table */
    font-size: var(--font-size);
}

table th {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: left;
    padding: var(--spacing-sm);
    border: 1px solid var(--border-color);
}

table td {
    padding: var(--spacing-sm);
    border: 1px solid var(--border-color);
    color: var(--text-dark);
}

/* Caption Styling */
table caption {
    caption-side: top;
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin-bottom: var(--spacing-md);
    color: var(--primary-color);
}